## Libray import

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Read Data from File

In [5]:
df=pd.read_csv('./fuel_ferc1.csv')
df.head(10)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.77,2.77,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.24,43.25,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.77,0.00,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.54,55.13,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.97,34.65,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.73,28.11,1.278

## Header Info
---
'Record_id' : record id
'Utility_id_ferc1': Utility id assigned by the FERC
'Report_year': year of report
'Plant_name_ferc1': the name of the plant
'Fuel_type_code_pudl': the type of fuel
'Fuel_unit': the unit of fuel
'Fuel_qty_burned': the quantity of fuel burned
'Fuel_mmbtu_per_unit': the measure of energy per unit
'fuel_cost_per_unit_burned': the fuel cost per unit burned
'Fuel_cost_per_unit_delivered': the cost of fuel delivered per unit
'fuel_cost_per_mmbtu': the cost of fuel per mmbtu

## Question 3

In [70]:
df[['fuel_type_code_pudl','fuel_cost_per_unit_burned']].groupby('fuel_type_code_pudl').mean()

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                 67.421830
gas                                  13.659397
nuclear                            4955.157002
oil                                 168.877086
other                                18.253856
waste                                19.518122

## Question 4

In [49]:
df['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

## Question 5

In [52]:
df_5=df['fuel_qty_burned']
df_5.skew(),df_5.kurtosis()

(15.851495469109503, 651.3694501337732)

## Question 6

In [57]:
x=df.isna().sum().sort_values()
x

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
fuel_unit                       180
dtype: int64

In [60]:
(x['fuel_unit']/len(df))*100

0.609694136774718

## Question 8

In [67]:
df.corr()['fuel_cost_per_unit_burned'].T.abs().sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 9

In [33]:
sub_df=df[df['fuel_type_code_pudl']=='coal']
df_9=sub_df[sub_df['report_year'].apply(lambda x: x==1994 or x==1998)][['report_year','fuel_cost_per_unit_burned']].groupby('report_year').sum()
df_9

             fuel_cost_per_unit_burned
report_year
1994                         14984.572
1998                         11902.597

## Question 10

In [24]:
df[['report_year','fuel_cost_per_unit_delivered']].groupby('report_year').sum().sort_values('fuel_cost_per_unit_delivered')[::-1]

             fuel_cost_per_unit_delivered
report_year
1997                         1.218738e+07
1996                         1.000602e+07
2000                         1.352903e+06
2009                         7.975923e+05
2018                         4.748057e+05
2015                         3.569033e+05
1998                         3.178799e+05
2014                         2.256952e+05
2013                         2.065968e+05
2004                         1.663129e+05
2010                         1.158381e+05
2016                         1.074344e+05
2001                         8.142834e+04
1994                         7.859053e+04
2012                         7.581617e+04
2011                         7.412059e+04
2008                         7.194631e+04
2003                         6.740849e+04
2002                         5.735121e+04
2007                         5.476283e+04
2005                         5.258506e+04
2006                         4.805125e+04
2017                         4.587348e+04
1995                         3.931506e+04
1999                         2.682921e+04